@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap');


.dashboard-container {
    position:absolute;
    width: 100%;
    top: 40px;
    color: black;
    background-color: #ffe7f0;
    transition: 0.5s; 
    /* overflow: scroll; */
    
}

.routine-container {
    position: fixed;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    right: 0px;
    top: 80px;
    width: 45%;
    height: 100%;
    margin: 10px;
    background-color: pink;
    border-radius: 5px;
    transition: inherit;
    /* overflow: scroll; */

}

.list-container {
    position: fixed;
    margin: 10px;
    padding: 10px;
    width: 45%;
    height: 100%;
    margin: 10px;
    background-color: pink;
    border-radius: 5px;
    overflow: scroll;


}

.progress-container {
        top: 0px;
        right: 0px;
        margin: 10px;
        padding: 10px;
        width: 40%;
        height: 100%;
        margin: 10px;
        border-radius: 5px;
    
    
}


.progress-cam {
    display:flex;
    align-self: center;
    left: auto;
    right: auto;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
}

.cam-btn {
    font-family: 'Roboto', sans-serif;
    border: 2px solid transparent;
    background-color: #FCBAD3;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  
  .cam-btn:hover {
    background-color: pink;
    cursor: pointer;
  }

  .cam-btn:active {
    background-color: hotpink;
  }

.control-right {
    position: fixed;
    text-align: center;
    left: auto;
    right:auto;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    flex-direction: column;
}


.dash-greeting {
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
    padding: 10px;
    font-family: 'Yeseva One', cursive;
    font-size: 3em;
    color: whitesmoke;
    text-transform: capitalize;
    text-shadow: 3px 3px 0px hotpink;
    
}



.product-list {
    list-style: none;

}

.delete-btn:hover {
    visibility: visible;
}
