body {
    top:40px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffe7f0;
    margin:0px;
    height: 100%
    }

    
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
};

/* .react-tooltip-lite {
    background: #333;
    color: white;
  } */