.navbar-body {
    display: grid;
    align-content: space-around0;
    grid-template-areas: 
        "left center right";
    grid-template-columns: 2fr 1fr 1fr;
    background-color:pink;
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 40px;
}

.account-btn-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: right;

}
.account-btn {
    background: transparent;
    border: 0px;
    color: #ffeaea;
    font-size: 20px;
}